.stats {
  position: relative;
  background: url("../assets/images/tower.jpg") center / cover no-repeat fixed;
  padding: 120px 0;
  color: #fff;
  overflow: hidden;
}


.stats-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.stats-container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.stat-item h2 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 10px;
}

.stat-item p {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.85;
}







/* ===== STATS RESPONSIVE ===== */
@media (max-width: 992px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 576px) {
  .stats-container {
    grid-template-columns: 1fr;
  }
}

